
div {
	position: relative;
	margin: 300px auto 0;
	width: 500px;
	height: 250px;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}
h1{
 text-align: center;
}
br{
  margine: 50px;

}
p{
  line-height: 2.5;
  font-size: 18px;
  text-align: center;
  color: black;
  padding: 25px;
  margin: 30px;
  margin-text: 5px;

}
  body {
    background-color: sky;
  }
  .responsive {
     width: 80%;
     height: auto;
     margin-bottom: 20px;
     display: block;
     margin-left: auto;
    margin-right: auto;
     box-shadow: 1px 5px 18px red;
  }
  footer {
   text-align: center;
   padding: 3px;
   background-color: #61aaed;
   color: white;
  }
  .dd{
     text-align: center;
     font-size: 18px;
     padding: 5px;
     color: blue;
   }
